XMLAndJSON/XMLAndJSON/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/person" xmlns:tns="http://www.example.org/person" elementFormDefault="qualified">
    <complexType name="PersonType">
    	<sequence>
    		<element name="sid" type="string"></element>
    		<element name="name" type="string"></element>
    		<element name="age" type="integer"></element>
    	</sequence>
    </complexType>
    <element name="Person" type="tns:PersonType"/>
</schema>